html {
  display: table;
  margin: auto;
}

body {
  font: 25px "Century Gothic", Futura, sans-serif;
  margin: auto;
  padding-top: 20px;
}

/* ol, ul {
  padding-right: 30px;
} */

.board-row:after {
  clear: both;
  content: "";
  display: table;
  /* align-items: center; */
}

.status {
  margin-bottom: 20px;
}

.title {
  font: 35px "Century Gothic", Futura, sans-serif;
  margin-bottom: 10px;
}

.reset {
  width: 80px;
  height: 35px;
  font-size: 18px;
}

.instructions {
  width: 120px;
  height: 35px;
  font-size: 18px;
  margin-right: 10px;
}

.square {
  background: rgb(44, 84, 245);
  border: 1px solid rgb(255, 255, 255);
  float: left;
  /* font-size: 24px;
  font-weight: bold;
  line-height: 34px; */
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  /* text-align: center; */
  width: 75px;
}

.square:focus {
  outline: none;
}

.circle {
    /* //   // padding: 10, */
  margin: 7px;
    /* //   // left: 5, */
  /* alignItems: 'right'; */
  /* background-color: bgColor; */
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  /* margin-left: 40px;
   */
   margin: auto;
}
